table {
    border-collapse: collapse;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-gray {
    background: #6a8a99;
    padding: 2rem;
    border-radius: 25px;
    font-size: 18px;
    color: #FFF;
}

.table_info {
    text-align: left;
    font-size: 18px;
}

.table_info th,
.table_info td {
    font-size: 18px;
}